@import url('../Resources/Normalise.css');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@300&display=swap');

/* Global Defaults */

body{ background-color: #F0A202;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    position:relative;
}

header{
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    border: 3px none;
    border-radius: 1em;
    background-color: #F18805;
}

.grid-container{
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

h1,h2,h3,h4,h5{
    font-family: 'Fredoka One', cursive;
    color: #0E9594 ;
}

h1{
    font-size: 4rem;
}

h2{
    font-size:3rem;
}

h3{
    font-size: 2rem;
}

/* Navigation Bar */

ul{
    list-style-type: none;
}

li{
    display: block;
    float: left;
    margin-left: 50px;
    padding: 30px;
  }

li:hover  {
    background-color: #0E9594;
}
/* ~~Format & Layout~~ */

/*Grid Rules*/

.image-center{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-column-start: 2;
}

.sub-head{
    grid-area: 'header';
    grid-column-start: 2;
}
/* Parallax */

.parallax{
    display: grid;
    grid-column-start: 2;
    background-image: url("../Resources/Images/parallaxbacking.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

  .parallax__layer--back {
    transform: translateZ(-1px);
}

#parallax-text{
    text-align: left;
    color: white;
    text-align: center;
    margin-top: 200px;
}

/*Footer*/

.footer{
    display: flex;
    justify-content: center;
    border: 2px solid #F18805;
}

/*Image specifications*/

.Portrait-Image{
    float: right;
    margin-left: 25px;
    border-radius: 5em;
    clear:both;
}

.Imagee{  
    outline:4px solid #F18805;
    outline-offset:-100px;
    border:50px solid transparent;
    border-width:150px 50px 50px 150px;
    margin:-75px 0 0 -75px;
    transition: all .3s ease;}

.Imagee:hover{
    transform: scale(1.1,1.1) rotate(2.5deg);
}
.logo{
    float:left;
    position: relative;
    margin-left: 100px;
}

.about-me{
display:grid;
grid-column-start: 2;
z-index: 500;
}

/* Page Margins */

.margin{
    margin-top:300px;
    grid-column-start: 2;
}

.margin1{
    margin-top: 100px;
    grid-column-start: 2;
    position: relative;
    z-index: 100;
}

.margin2{
margin-bottom:80px;
}

/*Screen Larger than 600px 3-Col*/

@media screen and (max-width: 600px){
    .container{grid-template-columns: 25% 50% 25%;}
    .sub-item-a{
        justify-content: flex-start;
        border-style: none;} 
    img{ max-width: 100%;
        height: auto;}
    video{  max-width: 100%;
            height: auto;}
    
    .parallax{
        max-width: 100%;
        height: auto;}
    .parallax__layer{  max-width: 100%;
        height: auto;}
    .parallax__layer--back{  max-width: 100%;
        height: auto;}
    .parallax__layer--base{  max-width: 100%;
        height: auto;}
    #parallax-text{  max-width: 100%;
        height: auto;
        font-size: 100%;}
}

@media screen and (max-width: 1000px){
    .container{grid-template-columns: 25% 50% 25%;}
    .sub-item-a{border-style: none;}
    img{ 
         max-width: 100%;
        height: auto;}
    video{  
        max-width: 100%;
        height: auto;}
    .parallax{
            max-width: 100%;
            height: auto;}
    .parallax__layer{  max-width: 100%;
            height: auto;}
    .parallax__layer--back{  max-width: 100%;
            height: auto;}
    .parallax__layer--base{  max-width: 100%;
            height: auto;}
    #parallax-text{  max-width: 100%;
            height: auto;
            font-size: 100%;}
}

/* Image galleries for the alternative pages */

.gallery{
    display:flex;
    flex-wrap: wrap;
    margin-top: 150px;
    justify-content: center;
    grid-column-start: 2;
}

.galleryLM:hover{
    transform: scale(1.1,1.1) rotate(2.5deg);
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;}